.service-overall {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin: 6px 6px 6px 6px;
}
.service-title {
  margin: 2px 2px 2px 2px;
}
.service-status0 {
  color: orange;
}
.service-status1 {
  color: greenyellow;
}
